<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "#{@order.current_step}_step", :form => form %>
  <div class="actions">
        <% if @order.last_step? %>
          <p><%= form.submit "Submit" %></p>
        <% else %>
          <p><%= form.submit "Continue" %></p>
        <% end %>
    <p><%= form.submit "Back", :name => "back_button" unless @order.first_step? %></p>
  </div>
<% end %>

<%= link_to 'Back', orders_path %>
